{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleInsta.css') }}">
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <Title>Instagram Analysis</Title>
{% endblock %}
{% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
{% endblock %}

{% block content %}
    <div class="header">
        <h1>Instagram Analysis</h1>
    </div>
    <div class="userInfo">
        <p>Enter your Instagram username and password, then submit</p>
        <form action={{ url_for('parse_data') }} method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit">
        </form>
    </div>



{% endblock %}
